<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.altraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master/masterlayout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
  <form th:action="@{/templates/receptionist/edit}" method="post" th:object="${receptionist}">
    <fieldset>
      <legend>Receptionist Edition form</legend>
      <input type="hidden" name="receptionistId" th:value="${receptionist.receptionistId}">

      <div class="form-group">
        <label for="name"> Receptionist Name</label>
        <input type="text" class="form-control" id="name" name="name"
        th:value="${receptionist.name}">
      </div>

      <div class="form-group">
        <label for="qualification"> Receptionist Qualification</label>
        <input type="text" class="form-control" id="qualification" name="qualification"
               th:value="${receptionist.qualification}">
      </div>
      <div class="form-group">
        <label for="salary"> Receptionist Salary</label>
        <input type="text" class="form-control" id="salary" name="salary"
               th:value="${receptionist.salary}">
      </div>
      <div>
        <a th:href="@{/templates/receptionist/list}" class="btn btn-outline-success">Cancel</a>
        <button type="submit" class="btn btn-outline-success">Save</button>
      </div>
    </fieldset>
  </form>





</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>